body {
  color: white;
  font-family: 'Quattrocento';
}

#storytitle {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  text-align: center;
  background-color:#712984;
  height: 5vh;
  font-weight: bold;
}

#words {
  background-color:white;
  height:auto;
  min-height: 30vh;
  color:gray;
  padding:20px;
}

.pageturnbutton {
  background-color:#712984;
  height: 5vh;
  width: 100%;
  border:none;
  font-family: 'Montserrat';

}

.pageturnbutton :hover {
  background-color: blue;
}

#pageturnsection1, #pageturnsection2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#picture {
  background-color:gray;
  height:auto;
  max-height: 60vh;
}
